<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>


<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Change Image</h1>
</div>
<div class="wrapper-md" >
  <div class="m-b">
    Select an image file
    <input type="file" id="fileInput" />
  </div>
  <div class="hbox hbox-auto-xs">



          <img ng-src="{{myImage}}" class="wrapper-sm b-a bg-white m-r-xs m-b-xs"/>


  <br>
  <div class="btn-group m-t">
    <button class="btn btn-success" type="submit"
                  ng-disabled="loading()"
                  ng-click="Upload()">
                  Upload <i class="fa fa-spinner fa-spin"
                    ng-show="loading()"></i>
                </button>


  </div>
<div>
