<div class="wrapper-md">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading font-bold">
					<i class="fa fa-list-alt fa-fw"></i> {{title}}
				</div>

				<div class="row wrapper">
					<div class="col-sm-6">
						<a class="btn btn-primary" ng-click="create()"
							has-permission='rates-create'>New</a>
					</div>
				</div>

				<div class="panel-body">
					<div class='row'>
						<div class='col-md-3'>
							 <select class="form-control input-lg" id="predicate" ng-model="criteria.key" ng-options="criteria_key.key as criteria_key.label  for criteria_key in criteria_key_list"></select>
						</div>
						<div class='col-md-9'>
								<div class="input-group">
							      <input class="form-control input-lg" ng-model="criteria.value" placeholder="Type keyword" type="text">
							      <span class="input-group-btn">
							        <button class="btn btn-lg btn-default" ng-click="pageChanged()" type="button">Search</button>
							      </span>
							    </div>
						</div>
					</div>

				    <br>
					<div class="table-responsive">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									    <th width='100px' class='text center'>Action</th>
										<th>Name</th>
										<th>Start Date</th>
										<th>End Date</th>
										<th>Taxes(%)</th>
										<th>Service(%)</th>
										<!-- <th>Include Extra Bed</th> -->
										<th>Open Rate</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="master in page.data">
									<td class="col-xs-2 col-sm-2" align="center">
										<button type="button" class="btn btn-info btn-sm"
											tooltip="Detail" tooltip-placement="left"
											ng-click="detail(master)"
											has-permission='rates-edit'>
										Detail
										</button>

										<button type="button" class="btn btn-warning btn-sm"
											tooltip="Edit" tooltip-placement="left"
											ng-click="edit(master)"
											has-permission='rates-edit'>
											<i class="fa fa-edit"></i>
										</button>
										<button type="button" class="btn btn-danger btn-sm"
											tooltip="Delete" tooltip-placement="right"
											has-permission='rates-delete'
											ng-delete-click="remove(master)"
											>
											<i class="fa fa-times"></i>
										</button>
									</td>
									<td>{{master.name}}</td>
									<td>{{master.start_date|date}}</td>
									<td>{{master.end_date|date}}</td>
									<td>{{master.taxes_pct}} %</td>
									<td>{{master.service_pct}} %</td>
									<!-- <td>{{master.include_extra_bed == 1 ? 'Yes' : 'No'}}</td> -->
									<td>{{master.open_rate == 1 ? 'Yes' : 'No'}}</td>
									<!-- <td>{{master.currency.code}}</td> -->

								</tr>
							</tbody>
						</table>

						<div style="text-align: center;">
							<pagination total-items="totalItems" ng-model="currentPage"
								max-size="maxSize" items-per-page="itemsPerPage"
								ng-change="pageChanged()" boundary-links="true"></pagination>
						</div>

					</div>
				</div>
			</div>

		</div>
	</div>



</div>
